@page
@model AnnouncementBoard.Pages.IndexModel
@{
    ViewData["Title"] = "公告列表";
}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <th>標題</th>
            <th>發布日期</th>
            <a asp-page="/Download" asp-route-filename="Announcements.csv" target="_blank">匯出公告</a>
        </tr>
    </thead>
    <tbody>
        @foreach (var ann in Model.Announcements)
        {
            <tr>
                <td>
                    @(ann.IsTop ? "[置頂]" : "") <a asp-page="./Details" asp-route-id="@ann.Id">@ann.Title</a>
                </td>
                <td>@ann.PublishDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>